/* body { 
  background-color: #777;
}
p.bvn {
  color: cyan;
  background-color: rgb(46, 133, 190);
}
p.vivacss {
  color: black;
}
h1 {
  font-size: 50px;
  font-weight: lighter;
  padding-left: 800px;
  opacity: 70%;
}: /* 