nav.menu-nav ul li.btn {
  list-style-type: none;
  display: inline-block;
}
nav.menu-nav ul li.btn a {
  color: black;
  text-decoration: none;
  background-color: gray;
  padding: 10px;
}
nav.menu-nav ul li.btn:hover a {
  background-color: white;
  color: gray;
  transition: 300ms all;
}
h1 {
  font-weight: lighter;
}
img {
  font-size: 50px;
  font-weight: lighter;
  padding-left: 38%;
  opacity: 70%;
  font-style: normal;
}
p.infossurlapage {
  font-size: 35px;
  padding-left: 31%;
}


p.info2 {
  font-size: 35px;
}

